data/train_pos_full.txt filter=lfs diff=lfs merge=lfs -text
data/train_neg_full.txt filter=lfs diff=lfs merge=lfs -text
preprocessing/dicts/bigram_snap.json filter=lfs diff=lfs merge=lfs -text
preprocessing/glove/glove.twitter.27B.25d.txt filter=lfs diff=lfs merge=lfs -text
preprocessing/glove/glove.twitter.27B.50d.txt filter=lfs diff=lfs merge=lfs -text
preprocessing/glove/glove.twitter.27B.100d.txt filter=lfs diff=lfs merge=lfs -text
preprocessing/glove/glove.twitter.27B.200d.txt filter=lfs diff=lfs merge=lfs -text

